<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles.css">
        <title>QR app</title>
    </head>
    <body>
        <div class="log-div">
            <% if(username) { %>
                <a href="/logout" class="logout">Logout</a>
            <% } else { %>
                <a href="/login" class="login">Login</a>
            <% } %>
        </div>
        <div class="content-num">
            <h2 class="num-of-tickets">Broj generiranih ulaznica</h2>
            <h2 class="number"><%= numOfTickets %></h2>
        </div>
    </body>
</html>